@import "../variables";

#login,
#register {
  .navbar-header {
  }
  .header{
    background: $purple;
  }
  .member-login{
    text-decoration: none;
    font-size: 17px;
  }
  .member-register{
    font-size: 15px;
    margin: 15px;
  }
  a{
    color: $white ;
    img {
      height: 45px;
    }
  }
  input {
    width: 326px;
    height: 45px;
  }

  input[type='submit']{
    background-color: $purple;
    color: $white ;
  }

  .content {
    margin: 40px 25px 0 25px;
    .form-inputs {
      position: relative;
      input {
        padding-left: 40px;
      }
      img {
        position: absolute;
        top: 8px;
        left: 10px;
        width: 22px;
      }
      .password-icon {
        top: 70px;
      }
    }
    .forget-password {
      text-align: center;
      margin-top: 10px;
      a {
        margin-top: 20px;
        text-decoration: none;
        color: #C579F2;
      }
    }
    .login-tip {
      color: gray;
      text-align: Center;
      margin-top: 90px;
    }
    .social-login {
      margin: 0px;
      padding: 22px;
      li {
        display: inline-block;
        margin: 20px;
      }
    }
  }
}

#register {
  .send-validate-code {
    background-color: $purple;
    color: $white;
  }
  #new_frontend_user{
    /* all */
    ::-webkit-input-placeholder {
      color:#bebebe;
      font-size: 14px
    }
    ::-moz-placeholder {
      color:#bebebe;
      font-size: 14px
    } /* firefox 19+ */
    :-ms-input-placeholder {
      color:#bebebe;
      font-size: 14px
    } /* ie */
    input:-moz-placeholder {
      color:#bebebe;
      font-size: 14px
    }

    input {
      padding: 10px;
      border: none;
      box-shadow: none;
      border-bottom: 1px solid #cccccc;
    }
    .validation-code-input {
      width: 68%;
    }
    .form-actions {
      margin-top: 50px;
    }
    .check-item {
      margin-top: 20px;
      input, p{
        display:inline-block;
        font-size: 14px;
        color: $middle-gray;
        width: auto;
        height: auto;
      }
    }
  }
}
