@import "../variables";

// common css
.app-header {
  .custom-header{
    background: $purple;
    margin-bottom: 0px;
  }
  a{
    vertical-align: text-top;
    color: $white ;
    img {
      height: 45px;
    }
  }
}

.content {
  margin: 0 25px;
  .full-button {
    width: 100%;
    background-color: $purple;
    font-size: 15px;
    color: $white;
    height: 50px;
    margin-top: 50px;
  }
}

// register with email page
.register-content {
  .register-with-email-form {
    input[type='text'] {
      width: 100%;
      width: 100%;
      border: none;
      border-bottom: 1px solid #cccccc;
      height: 50px;
    }
    .check-item {
      margin-top: 25px;
    }
  }
}

.user-info-content {
  .user-info-form {
    .user-avatar {
      margin: 46px 0 30px;
      text-align: center;
      img {
        width: 90px;
      }
    }
    .info-item {
      height: 50px;
      border-bottom: 1px solid #cccccc;
    }
    span {
      font-size: 15px;
      color: $middle-gray;
    }
    input {
      height: 100%;
      border: none;
      margin-left: 25px;
      min-width: 70%
    }
  }
}


// hospital list
.hospital-list-content {
  .hospital-item:last-child {
    border-bottom: 1px solid $light-gray;
  }
  .hospital-item {
    height: 125px;
    padding: 0 25px;
    border-top: 1px solid $light-gray;
    position: relative;
    .hospital-avatar {
      margin: 10px 0px;
      height: 105px;
      width: 105px;
    }
    .hospital-info {
      position: absolute;
      top: 10px;
      left: 142px;
    }
    .title {
      font-size: 15px;
      color: #474747;
    }

    .peculiarity {
      span {
        border: 1px solid #C579F2;
        color: #C579F2;
        padding: 0px 2px;
      }
    }

    .grade {
      padding: 5px 0px;
      .start {
        width: 12px;
        height: 12px;
      }
    }
    p {
      margin: 0px;
      color: $gray;
      font-size: 12px;
    }
  }
}
