@import "../variables";

// common css
.app-header {
  .custom-header{
    background: $purple;
  }
  a{
    vertical-align: text-top;
    color: $white ;
    img {
      height: 45px;
    }
  }
}

.content {
  margin: 0 25px;
  .full-button {
    width: 100%;
    background-color: $purple;
    font-size: 15px;
    color: $white;
    height: 50px;
    margin-top: 50px;
  }
}


// register with email page
.register-content {
  .register-with-email-form {
    input[type='text'] {
      width: 100%;
      width: 100%;
      border: none;
      border-bottom: 1px solid #cccccc;
      height: 50px;
    }
    .check-item {
      margin-top: 25px;
    }
  }
}

.user-info-content {
  .user-info-form {
    .info-item {
      height: 50px;
      border-bottom: 1px solid #cccccc;
    }
    span {
      font-size: 15px;
      color: $middle-gray;
    }
    input {
      height: 100%;
      border: none;
      margin-left: 25px;
      min-width: 70%
    }
  }
}
