<div class="app-header">
  <nav class="navbar navbar-default custom-header">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#">
          <%= image_tag "users/title_icon_back_normal.png" %>
        </a>
        <a href="#" >个人信息完善</a>
      </div>
    </div>
  </nav>
</div>
<div class="user-info-content content">
  <form class="user-info-form" action="">
    <div class="info-item">
      <span>昵称 </span>
      <input type="text" placeholder="陈奕迅">
    </div>
    <div class="info-item">
      <span>密码 </span>
      <input type="text" placeholder="请输入密码">
    </div>
    <div class="info-item">
      <span>重复密码 </span>
      <input type="text" placeholder="请再次输入密码">
    </div>
    <div class="info-item">
      <span>邮箱 </span>
      <input type="text" placeholder="请输入您的邮箱">
    </div>

    <button type="submit" class="btn btn-default full-button">完成</button>
  </form>
</div>
