<div class="app-header">
  <nav class="navbar navbar-default custom-header">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#">
          <%= image_tag "users/title_icon_back_normal.png" %>
        </a>
        <a href="#" class="member-login">注册</a>
      </div>
    </div>
  </nav>
</div>
<div class="register-content content">
  <form class="register-with-email-form" action="">
    <input type="text" placeholder="请输入你的邮箱">
    <input type="text" placeholder="请输入你的密码">
    <input type="text" placeholder="再次输入你的密码">
    <div class="check-item">
      <input type="checkbox" ><span>我同意使用条款</span>
    </div>
    <button type="submit" class="btn btn-default full-button">验证邮箱</button>
  </form>
</div>
