<div class="app-header">
  <nav class="navbar navbar-default custom-header">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#">
          <%= image_tag "users/title_icon_back_normal.png" %>
        </a>
        <a href="#" >注册</a>
      </div>
    </div>
  </nav>
</div>
<div class="user-info-content content">
  <form class="user-info-form" action="">
    <div class="info-item">
      <span>原密码 </span>
      <input type="password" placeholder="请输入密码">
    </div>
    <div class="info-item">
      <span>新密码 </span>
      <input type="password" placeholder="请输入新的密码">
    </div>
    <div class="info-item">
      <span>确认密码 </span>
      <input type="password" placeholder="请再次输入密码">
    </div>
    <button type="submit" class="btn btn-default full-button">保存</button>
  </form>
</div>
