<% @strategy_categories.each do |strategy_category|%>
  <a href="<%= sub_strategy_categories_frontend_strategy_category_path(strategy_category) %>">
    <img src="<%= fixed_image_url(strategy_category) %>" alt=""/>
    <%= strategy_category.name %>
  </a>
  <br />
<% end %>