<div class="app-header">
  <nav class="navbar navbar-default custom-header">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#">
          <%= image_tag "users/title_icon_back_normal.png" %>
        </a>
        <a href="#" >发送成功</a>
      </div>
    </div>
  </nav>
</div>
<div class="content forget-password">
  <%= image_tag "users/login_icon_password.png", class: "sent-successful-image" %>
  <div class="sent-successful-tip">
    <p>密码已成功发送到您的手机/邮箱！</p>
    <p>请勿泄露您的密码！</p>
  </div>
  <%= link_to '返回登陆', '/users/sessions/new', class: "btn btn-default full-button" %>
</div>
