<div class="app-header">
  <nav class="navbar navbar-default custom-header">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="javascript:;">
          <%= image_tag "users/title_icon_back_normal.png" %>
        </a>
        <div class="search-wrapper">
          <input type="text" id="search" class="search-input" placeholder="搜索关键字">
          <%= image_tag "frontend/search/search_icon_magnifier.png", class: "search-icon" %>
          <%= image_tag "frontend/search/search_icon_delete.png", class: "clear-icon" %>
          <span class="search-lable">搜索</span>
        </div>
      </div>
    </div>
  </nav>
</div>

<div class="search-content">
  <ul class="list-unstyled search-categories">
    <li class="search-category active"><a href="javascript:;" id='hospital' class='search_type'>医院</a></li>
    <li class="search-category"><a href="javascript:;" id='doctor' class='search_type'>医生</a></li>
    <li class="search-category"><a href="javascript:;" id='symptom' class='search_type'>症状</a></li>
    <li class="search-category"><a href="javascript:;" id='disease' class='search_type'>疾病</a></li>
    <li class="search-category"><a href="javascript:;" id='drug' class='search_type'>药品</a></li>
    <li class="search-category"><a href="javascript:;" id='drug_store' class='search_type'>药店</a></li>
  </ul>

  <div class="search-results">
    <ul class="list-unstyled" id="result_list">
    </ul>
    <button class="btn btn-primary load-more" id='more'>加载更多</button>
  </div>
</div>


<script type="text/javascript">
  var type = 'hospital';
  var page = 1;
  var all_page = 1;

  $(".search-category").on("click", function(){
    $(".search-category").removeClass("active");
    $(this).addClass("active");
  })

  $(function(){
    $.post('/searches', {
      type: type
    },function(e){
      $('#result_list').html('');
      e.results.forEach(function(e){
        $('#result_list').append("<li class='search-item'><a href='"+e.url+"'>"+e.name+"<li>")
      })
    })
  })

  $("#search").keyup(function(e){
    $.post('/searches', {
      type: type,
      word: $('#search').val(),
      page: all_page
    },function(e){
      $('#result_list').html('');
      e.results.forEach(function(e){
        $('#result_list').append("<li class='search-item'><a href='"+e.url+"'>"+e.name+"<li>")
      })
    })
  })

  $(".search_type").on('click', function(e){
    type = e.target.id;
    $.post('/searches', {
      type: type,
      word: $('#search').val()
    },function(e){
      page = 1;
      $('#result_list').html('')
      e.results.forEach(function(e){
        $('#result_list').append("<li class='search-item'><a href='"+e.url+"'>"+e.name+"<li>")
      })
    })
  })

  $('#more').click(function(e){
    ++page;
    $.post('/searches', {
      type: type,
      word: $('#search').val(),
      page: page
    },function(e){
      e.results.forEach(function(e){
        $('#result_list').append("<li class='search-item'><a href='"+e.url+"'>"+e.name+"<li>")
      })
    })
  })
</script>
