@import "../variables";

.comments-wrapper {
  margin-top: 50px;
  .title,
  .comment-count {
    height: 50px;
    line-height: 50px;
  }
  .title {
    font-size: 15px;
    color: #474747;
    margin: 0 12px;
    font-weight: bold;
    display: inline-block;
  }
  .comment-count {
    font-size: 12px;
    color: #cccccc;
    margin-right: 12px;
  }
  .comments-header {
    height: 44px;
    line-height: 44px;
    margin: 0px;
  }
  .comment-list {
    border-top: 1px solid $border-gray;
    padding-top: 16px;
    margin: 0 12px;
    .comment-item {
      padding-top: 6px;
      height: 105px;
      border-bottom: 1px solid $border-gray;
      .comment-time {
        font-size: 12px;
        color: $light-gray;
      }
      .user-info {
        display: inline-block;
      }
      .comment-rate {
        display: inline-block;
        margin-top: 2px;
        .star {
          width: 13px;
        }
      }
      .comment-content {
        margin: 20px 0;
        font-size: 14px;
        color: #474747;
      }
    }
  }
  .check-all-comments {
    font-size: 14px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    a {
      color: $gray;
    }
  }
}

.new-comment-wrapper {
  margin-top: 50px;
  text-align: center;
  .hidden-element {
    display: none;
  }
  .title {
    font-size: 18px;
    color: #666666;
    padding: 30px;
  }
  #rate {
    margin-bottom: 30px;
    img {
      width: 30px;
    }
  }
  .form-wrapper {
    border-top: 10px solid #f0f1f2;
    textarea {
      border: none;
      padding: 25px;
    }
    #word_size {
      float: right;
      margin-right: 15px;
      font-size: 13px;
      color: #666666;
    }
  }
}
