@import "../variables";

.diseases-wrapper {
  margin: 96px 0 60px;
  .diseases-item {
    height: 98px;
    border-bottom: 1px solid $border-gray;
    padding:15px;
    .diseases-cover {
      width: 30%;
      width: 68px;
      height: 68px;
      display: inline-block;
      vertical-align: text-bottom;
      img {
        width: 100%;
        border-radius: 90%;
      }
    }
    .diseases-detail {
      width: 70%;
      display: inline-block;
      margin-left: 10px;
      .disease-name {
        font-size: 16px;
        color: #474747;
        padding-bottom: 10px;
      }
      .about-categories {
        padding: 0px;
        li {
          display: inline-block;
          color: $purple;
          width: 18%;
          text-align: center;
          img {
            width: 20px;
          }
          p {
            border-right: 1px solid $border-gray;
          }
        }
      }
    }
  }

  background-color: #EFEFEF;

  .diseases-panel {
    margin-bottom: 12px;
    padding: 10px 15px;
    background-color: #FFF;

    .title {
      border-bottom: 1px solid #DEDEDE;
      font-size: 16px;
      padding-bottom: 5px;

      .icon.cricle {
        height: 100%;
        display: inline-block;
        width: 12px;
        position: relative;

        &:after {
          content: " ";
          position: absolute;
          top: -14px;
          left: 3px;
          width: 9px;
          height: 15px;
          background-color: #c579f2;
          border-radius: 5px;
        }
      }

      > img {
        width: 18px;
        vertical-align: top;
      }
    }

    .body {
      margin-top: 5px;
      padding-left: 10px;
      padding-right: 10px;
      overflow: hidden;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      color: #919191;

      .etiology-image {
        width: 80px;
        float: left;
      }

    }

    a.more {
      display: inline-block !important;
      width: 100%;
      text-align: center;
      margin-top: 5px;
      color: #919191 !IMPORTANT;
      text-decoration: none;
      font-size: 1.25em;

      &.hidden .glyphicon.glyphicon-menu-down:before {
        content: "\e260";
      }
    }

  }
}
