@import "../variables";

// drug list
.drug-list-content {
  margin-top: 96px;
  margin-bottom: 60px;
  .drug-item:last-child {
    border-bottom: 1px solid $light-gray;
  }
  .drug-item {
    height: 125px;
    padding: 0 25px;
    border-top: 1px solid $light-gray;
    position: relative;
    .drug-avatar {
      margin: 10px 0px;
      height: 105px;
      width: 105px;
    }
    .drug-info {
      position: absolute;
      top: 10px;
      left: 142px;
      width: 100%;
    }
    .title {
      font-size: 15px;
      .price {
      color: $purple;
      font-size: 18px;
    }
      color: #474747;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 60%;
    }
    .drug-price {
      color: $purple;
      font-size: 18px;
    }
    .drug-code span{
      font-size: 12px;
      color: #3896ff;
    }
    p {
      margin: 0px;
      color: $gray;
      font-size: 12px;
    }
  }
}

.drug-detail {
  .drug-details-list {
    border-top: 10px solid $border-gray;
  }
  .slider {
    width:100%;
    margin:10px auto;
  }
  .slider .slider_open{
    background-image:  asset-url("frontend/drug/top_position_down.png");
  }
  .slider dt{
    cursor: pointer;
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    background: white;
    color: #373737;
    padding-left: 15px;
    font-size: 14px;
    border-bottom: 1px solid $border-gray;
    background-image:  asset-url("frontend/drug/top_position_up.png");
    background-size: 20px;
    background-position-x: 94%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    border-bottom: 1px solid $border-gray;
    font-weight: normal;
  }
  .slider dd{
    display:none;
    border-bottom: 1px solid $border-gray;
    overflow: hidden;
    background: white;
    overflow:hidden;
  }
  .slider dd p{
    padding:10px;
    overflow:hidden;
  }
}
