@import "../variables";

// hospital list
.hospital-list-content {
  margin-top: 96px;
  margin-bottom: 60px;
  .hospital-item:last-child {
    border-bottom: 1px solid $light-gray;
  }
  .hospital-item {
    height: 125px;
    padding: 0 25px;
    border-top: 1px solid $light-gray;
    position: relative;
    .hospital-avatar {
      margin: 10px 0px;
      height: 105px;
      width: 105px;
    }
    .hospital-info {
      position: absolute;
      top: 10px;
      left: 142px;
      width: 60%;
    }
    .title {
      font-size: 15px;
      color: #474747;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }

    .peculiarity {
      span {
        border: 1px solid #C579F2;
        color: #C579F2;
        padding: 0px 2px;
      }
    }

    .grade {
      padding: 5px 0px;
      .start {
        width: 12px;
        height: 12px;
      }
    }
    p {
      margin: 0px;
      color: $gray;
      font-size: 12px;
    }
  }
}

.hospital-detail {
  margin-top: 50px;
  p {
    font-size: 12px;
    color: $gray;
    margin: 10px 14px;;
  }
  .hospital-info {
    border-bottom: 15px solid $border-gray;
    .hospital-cover{
      img{
        width: 100%;
        max-height: 200px;
      }
    }
    .hospital-name {
      font-size: 16px;
      margin: 16px 12px;
      color: $black;
    }
  }
  .doctor-list-wrapper {
    border-bottom: 12px solid $border-gray;
  }
  .doctor-list{
    margin: 0 14px;
    h2 {
      border-bottom: 1px solid $border-gray;
      line-height: 15px;
      padding-bottom: 15px;
      font-size: 15px;
    }
    .section-office {
      font-size: 14px;
      color: $gray;
      margin: 18px 0px;
    }
  }
  .department-list-wrapper {
    border-bottom: 10px solid $border-gray;
    .department-list-title {
      font-size: 15px;
      color: $black;
      border-bottom: 1px solid #F1F0F0;
      padding: 12px
    }
    .department-doctor-list {
      padding-left: 35px;
      border-top: 1px solid $border-gray;
    }
    .department-item {
      .department-name {
        font-size: 14px;
        color: $gray;
        height: 50px;
        line-height: 50px;
        margin-left: 15px;
      }
      .arrow-img {
        margin-top: 17px;
        width: 15px;
        margin-right: 15px;
      }
    }
    .doctor-item {
      display: inline-block;
      margin: 20px 0 20px 0;
      width: 31%;
      margin-right: 1%;
      a {
        font-size: 12px;
        color: $gray;
      }
    }
    .doctor-name {
      position: relative;
      &:before {
        background-image:  asset-url("frontend/hospital/details_icon_doctor.png");
        width: 15px;
        content: " ";
        position: absolute;
        left: -20px;
        top: 0px;
        height:15px;
        background-size: 15px;
      }
    }
  }
  .hospital-comments {
    margin: 0 12px;
    .comments-header {
      height: 44px;
      line-height: 44px;
      margin: 0px;
    }
    .comment-list {
      border-top: 1px solid $border-gray;
      padding-top: 16px;
      .comment-item {
        height: 105px;
        border-bottom: 1px solid $border-gray;
        .comment-time {
          font-size: 12px;
          color: $light-gray;
        }
        .user-info {
          display: inline-block;
        }
        .comment-rate {
          display: inline-block;
          margin-top: 2px;
          .star {
            width: 13px;
          }
        }
        .comment-content {
          margin: 20px 0;
        }
      }
    }
    .check-all-comments {
      font-size: 14px;
      text-align: center;
      height: 50px;
      line-height: 50px;
      a {
        color: $gray;
      }
    }
  }
  .comment-edit,
  .join-and-correction {
    border-top: 10px solid $border-gray;
    height: 60px;
    line-height: 50px;
    a {
      font-size: 14px;
      margin-left: 12px;
    }
  }
  .comment-edit a{
    color: $gray;
  }
  .join-and-correction a{
    color: #80c269;
  }
  .hospital-connect {
    border-top: 10px solid $border-gray;
    margin-bottom: 30px;
    h3 {
      padding: 12px;
      margin: 0px;
      font-size: 15px;
      border-bottom: 1px solid $border-gray;
    }
    .position-detail {
      margin: 0 12px;
      p {
        font-size: 13px;
        margin-left: 0px;
      }
      .map #container {
        width: 100%;
      }
    }
  }
}

