@import "../variables";

#main-index {
  // common class
  .accurate-search-section,
  .health-headlines-section,
  .activities-section {
    border-bottom: 10px solid #f0f1f2;
    padding: 0 13px;
    .list-inline {
      text-align: center;
    }
  }

  .section-title {
    font-size: 15px;
    color: $black;
    margin: 0px;
    padding: 15px 0;
    span {
      border-left: 6px solid $purple;
      margin-right: 6px;
    }
  }

  .section-content {
    padding-left: 12px;
  }

  // advertisement section
  .ads-section {
    height: 115px;
    div {
      height: 100%;
    }
    .adsCarousel {
      height: 100%;
    }
    .slider-picture{
      width: 100%;
      height: 100%;
    }
  }

  .tools {
    position: absolute;
    top: 18px;
    left: 25px;
    height: auto !important;
    .position {
      position: absolute;
      left: 10px;
      opacity: 1;
      height: 33px;
      line-height: 33px;
      z-index: 99;
      img {
        width: 13px;
        margin-top: -4px;
      }
    }
    .search-input {
      height: 33px;
      width: 286px;
      border-radius: 5px;
      box-shadow: none;
      border: none;
      opacity: 0.8;
      padding-left: 70px;
    }
    .publish-requriements img{
      width: 35px;
    }
    .search-icon {
      position: absolute;
      right: 47px;
      width: 18px;
      top: 8px;
    }
  }

  // accurate query section
  .accurate-search-section {
    .carousel-indicators {
      display: none;
    }
    height: 220px;
    .accurate-search-list {
      li {
        width: 24%;
        p {
          font-size: 12px;
          color: $middle-gray;
        }
      }
      .category-icon {
        width: 45px;
        height: 45px;
      }
    }
  }

  // health headlines section
  .health-headlines-section {
    .check-more {
      font-size: 14px;
      color: $gray;
      img {
        width: 12px;
        vertical-align: text-top;
      }
    }
    #healthHeadlinesCarousel {
      margin-right: 24px;
      margin-bottom: 20px;
      height: 126px;
      div {
        height: 100%;
      }
      .item {
        img {
          border-radius: 8px;
          height: 126px;
          width: 100%;
        }
      }
    }
    .health-headlines-list {
      .health-headlines-item {

      }
      .health-headlines-image {
        width: 150px;
        height: 78px;
        border-radius: 8px;
      }
    }
  }

  // activities section
  .activities-section {
    height: 174px;
    .activities-list {
      margin-top: 10px;
      .activities-item {
        width: 49%;
      }
      .activity-flag {
        width: 32px;
        margin-right: 10px;
      }
      .activity-title-wrapper {
        display: inline-block;
        .title {
          font-size: 15px;
          color: $middle-gray;
        }
        .subtitle {
          font-size: 12px;
          color: $gray;
        }
      }
    }
  }

  // guess what you like section
  .guess-section {
    .section-title {
      margin-left: 13px;
    }
    .guess-list {
      margin-bottom: 60px;
      .guess-item {
        height: 128px;
        padding: 10px;
        border-top: 1px solid #cccccc;
        img {
          float: left;
          margin-right: 10px;
          width: 105px;
          height: 105px;
        }
        .content {
          float: left;
          margin-top: 2%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        p {
          margin: 0px;
          font-size: 12px;
          color: #999999;
        }
      }
    }
  }
}

// footer navitation
.footer-navitation {
  .container-fluid {
    height: 50px;
    padding: 0px;
  }
  .navbar-inverse {
    background-color: #ffffff;
    margin: 0px;
    border-color: $light-gray;
    background-image: none;
    border-radius: 0px !important;
  }
  .navbar-nav {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    li {
      width: 24%;
      display: inline-block;
      img {
        width: 20px;
      }
      p {
        font-size: 11px;
      }
      a:hover, a:focus {
        color: #9d9d9d !important;
      }
    }
  }
  .root-tab {
    background-image:  asset-url("frontend/tabs/tab_icon_home_normal.png");
    &.active {
      background-image:  asset-url("frontend/tabs/tab_icon_home_pressed.png");
    }
  }
  .category-tab {
    background-image:  asset-url("frontend/tabs/tab_icon_find_normal.png");
    &.active {
      background-image:  asset-url("frontend/tabs/tab_icon_find_pressed.png");
    }
  }
  .person-customs-tab {
    background-image:  asset-url("frontend/tabs/tab_icon_shopping_normal.png");
    &.active {
      background-image:  asset-url("frontend/tabs/tab_icon_shopping_pressed.png");
    }
  }
  .my-tab {
    background-image:  asset-url("frontend/tabs/tab_icon_user_normal.png");
    &.active {
      background-image:  asset-url("frontend/tabs/tab_icon_user_pressed.png");
    }
  }
  .tab-item {
    background-size: 20px;
    background-position-x: 50%;
    background-position-y: 25%;
    background-repeat: no-repeat;
    border-bottom: 1px solid $border-gray;
    p {
      margin-top: 20px;
    }
  }
  .active a {
    background-color: $white !important;
    color: $purple !important;
    display: inline;
    padding: 0px;
    p {
      margin-top: 28px;
    }
  }
}
