@import "../variables";

.maternity-list-content {
  margin-top: 50px;
  margin-bottom: 60px;
  .maternity-item:last-child {
    border-bottom: 1px solid $light-gray;
  }
  .maternity-item {
    height: 125px;
    padding: 0 25px;
    border-top: 1px solid $light-gray;
    position: relative;
    .maternity-avatar {
      margin: 10px 0px;
      height: 105px;
      width: 105px;
    }
    .maternity-info {
      position: absolute;
      top: 10px;
      left: 142px;
      width: 60%;
    }
    .statistics {
      float: right;
      display: inline-block;
    }
    .price {
      font-size: 18px;
      color: #c579f2;
    }
    .title {
      font-size: 15px;
      color: #474747;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 60%;
    }

    .peculiarity {
      span {
        border: 1px solid #C579F2;
        color: #C579F2;
        padding: 0px 2px;
      }
    }

    .grade {
      padding: 5px 0px;
      .start {
        width: 12px;
        height: 12px;
      }
    }
    p {
      margin: 0px;
      color: $gray;
      font-size: 12px;
    }
  }
}
