@import "../variables";

html, body {
  height: 100% !important;
}

// register with email page
.register-content {
  .register-with-email-form {
    input[type='email'],
    input[type='password']{
      width: 100%;
      width: 100%;
      border: none;
      border-bottom: 1px solid #cccccc;
      height: 50px;
      box-shadow: none;
      border-radius: 0px;
    }
    .check-item {
      margin-top: 25px;
    }
  }
}

.user-info-content {
  .user-info-form {
    .user-avatar {
      margin: 46px 0 30px;
      text-align: center;
      img {
        width: 90px;
      }
      .user_avatar {
        opacity: 0;
        margin-top: -70px;
      }
    }
    .form-group {
      height: 50px;
      border-bottom: 1px solid #cccccc;
    }
    span {
      font-size: 15px;
      color: $middle-gray;
    }
    input {
      height: 100%;
      border: none;
      min-width: 70%;
      box-shadow: none;
    }
  }
}
