@import "../variables";

.symptom-list-content {
  margin-top: 50px;
  margin-bottom: 60px;
  background-color: #F0F1F2;
  .letter {
    font-size: 18px;
    color: $purple;
    margin-left: 15px;
  }
  .symptom-list {
    background: white;
    padding: 20px 0;
  }
  .symptom-item {
    display: inline-block;
    padding: 6px 15px;
    a {
      font-size: 15px;
      color: $gray;
    }
  }
}

.symptom-detail {
  margin-top: 50px;
  margin-bottom: 60px;
  background-color: #F0F1F2;
  .symptom-detail-list {
    .symptom-detail-item {
      background-color: $white;
      margin-bottom: 15px;
    }
    .detail-title {
      font-size: 14px;
      color: #080505;
      padding: 15px;
      span {
        border-left: 6px solid $purple;
        margin-right: 6px;
      }
    }
    .detail-description {
      border-top: 1px solid $border-gray;
      padding: 16px;
      color: #737373;
      font-size: 13px;
    }
  }
}
