@import "../variables";

#login,
#register {
  .header{
    background: $purple;
  }
  .member-login{
    text-decoration: none;
    font-size: 17px;
    outline: none;
  }
  .member-register{
    font-size: 15px;
    margin: 15px;
    outline: none;
  }
  a{
    color: $white ;
    img {
      height: 45px;
    }
  }
  input {
    width: 326px;
    height: 45px;
  }

  input[type='submit']{
    background-color: $purple;
    color: $white ;
  }

  .content {
    margin: 40px 25px 0 25px;
    .form-inputs {
      position: relative;
      input {
        padding-left: 40px;
      }
      img {
        position: absolute;
        top: 8px;
        left: 10px;
        width: 22px;
      }
      .password-icon {
        top: 70px;
      }
    }
    .forget-password {
      text-align: center;
      margin-top: 10px;
      a {
        margin-top: 20px;
        text-decoration: none;
        color: #C579F2;
        outline: none;
      }
    }
    .login-tip {
      color: gray;
      text-align: Center;
      margin-top: 90px;
    }
    .social-login {
      margin: 0px;
      padding: 22px;
      li {
        display: inline-block;
        margin: 20px;
      }
    }
  }
}

#register {
  .send-validate-code {
    background-color: $purple;
    color: $white;
  }
  #new_user,
  .edit_user{
    /* all */
    ::-webkit-input-placeholder {
      color:#bebebe;
      font-size: 14px
    }
    ::-moz-placeholder {
      color:#bebebe;
      font-size: 14px
    } /* firefox 19+ */
    :-ms-input-placeholder {
      color:#bebebe;
      font-size: 14px
    } /* ie */
    input:-moz-placeholder {
      color:#bebebe;
      font-size: 14px
    }
    input {
      padding: 10px !important;
      border: none;
      box-shadow: none;
      border-bottom: 1px solid #cccccc;
    }
    .validation-code-input {
      width: 68%;
    }
    .form-actions {
      margin-top: 50px;
    }
    .check-item {
      margin-top: 20px;
      input, p{
        display:inline-block;
        font-size: 14px;
        color: $middle-gray;
        width: auto;
        height: auto;
      }
    }
  }
}

// forget password
.forget-password {
  text-align: center;
  .validate-code {
    width: 70%;
  }
  .send-validate-code {
    margin-top: 10px;
    background-color: $purple;
    color: $white;
  }
  .sent-successful-tip {
    text-align: center;
    color: $gray;
  }
  .sent-successful-image {
    width: 80px;
    margin-bottom: 10px;
  }
}

.custom-modal {
  top: 30% !important;
  left: 50% !important;
  margin-left: -150px;
  .modal-content {
    width: 294px;
    height: 108px;
    font-size: 15px;
    .modal-body {
      height: 100%;
    }
    ul {
      height: 100%;
      li {
        height: 50%;
        line-height: 35px;
        a {
          color: #222222;
        }
        &:first-child {
          border-bottom: 1px solid $light-gray;
        }
      }
    }
  }
}
