<!-- 第一栏 -->
<ul>
  <li>医院大全</li>
  <li>疾病查询</li>
  <li>找医生</li>
  <li>症状查询</li>
  <li>肿瘤医院</li>
  <li>母婴会馆</li>
  <li>月子团购</li>
  <li>保险团购</li>
  <li>保健品团购</li>
  <li>精准攻略</li>
  <li>精准体检</li>
  <li>特色科室</li>
  <li>最新优惠</li>
  <li>海外医疗</li>
  <a href="buffets?hospital_category_parent_name=整形"><li>精准整形</li></a>
  <a href="buffets?hospital_category_parent_name=牙科"><li>精准牙科</li></a>
  <a href="buffets?hospital_category_parent_name=妇幼"><li>精准妇幼</li></a>
  <a href="buffets?hospital_category_parent_name=男科"><li>精准男科</li></a>
  <a href="/buffets?hospital_category_parent_name=中医"><li>精准中医</li></a>
  <li>精准购药</li>
</ul>

<!-- 综合医院第一级 -->
<ul>
  <li>综合医院</li>
  <li>男科</li>
  <li>整形</li>
  <li>体检</li>
  <li>中医</li>
  <li>妇幼</li>
  <li>牙科</li>
  <li>综合</li>
  <li>其它</li>
</ul>

<!-- 医院大全第二级 综合医院 -->
<ul>
  <li>三级特等</li>
  <li>三级甲等</li>
  <li>三级乙等</li>
  <li>三级合格</li>
  <li>二级甲等</li>
  <li>二级乙等</li>
  <li>二级合格</li>
  <li>一级甲等</li>
  <li>一级乙等</li>
  <li>一级合格</li>
  <li>社区医院</li>
  <li>民营医院</li>
  <li>外资医院</li>
</ul>

<!-- 医院大全第二级 整形 -->
<ul>
  <li>前列腺活检及治疗</li>
  <li>前列腺癌根治术</li>
  <li>男性生殖器常见手术</li>
  <li>检查、治疗睾丸疾病</li>
  <li>精索静脉曲张手术</li>
  <li>隐睾治疗</li>
  <li>男科整形</li>
  <li>包皮手术</li>
  <li>男科检查</li>
  <li>性功能治疗</li>
</ul>

<!-- 医院大全第二级 男科 -->
<ul>
  <a href="/hospitals?category_name=眼部整形"><li>眼部整形</li></a>
  <li>鼻部整形</li>
  <li>口腔整形</li>
  <li>口唇整形</li>
  <li>胸部整形</li>
  <li>抽脂</li>
  <li>毛发</li>
  <li>除皱</li>
  <li>减肥丰臀</li>
  <li>面部轮廓</li>
  <li>肉毒素</li>
  <li>皮肤美容</li>
  <li>其它</li>
  <li>半永久性化妆</li>
  <li>女性私密</li>
  <li>耳部整形</li>
  <li>皮肤激光</li>
  <li>微整形</li>
  <li>美体塑形</li>
</ul>
