<% ('A'...'Z').each do |i| %>
  <%= i %>
  <% if $redis_symptoms.hget('symptoms', i).present? %>
    <% $redis_symptoms.hget('symptoms', i).split('|').each do |s| %>
      <a href="symptoms/<%= s.split(',')[0] %>"> <%= s.split(',')[1] %></a>
    <% end %>
  <% end %>
  <br />
<% end %>