<div class="filter">
  <ul class="list-unstyled filter-type">
    <li class="type-item hospital-filter" data-panel="general-hospital">
      <a href="javascript:;">
        全部分类
      <%= image_tag "static_pages/filter_icon_down.png", class: "filter-icon-down" %>
      <%= image_tag "static_pages/filter_icon_up.png", class: "filter-icon-up" %>
      </a>
    </li>
  </ul>

  <ul class="list-unstyled detail-panel general-hospital">
    <li class="hospital-type"><a href="javascript:;">全部分类</a></li>
    <% @hospital_categories.each do |hospital_category| %>
      <%= link_to frontend_buffets_path(hospital_category: hospital_category.name, hospital_category_parent_name: @hospital_category_parent_name) do %>
        <li class="hospital-type"><%= hospital_category.name %></li>
      <% end %>
    <% end %>
  </ul>

</div>

<script>
  $(function() {
    $(".filter-type li").on("click", function(event){
      if($(this).hasClass("active")){
        $(this).removeClass("active");
        $("." + $(this).data("panel")).hide();
      } else {
        $(".type-item").removeClass("active");
        $(".detail-panel").hide();
        $(this).addClass("active");
        $("." + $(this).data("panel")).show();
      }
    });
    $(".hospital-type").on("click", function(event){
      $(".hospital-type").removeClass("active");
      $(".hospital-categories").hide();
      $(this).addClass("active");
      $(this).next("ul").show();
    });

    $(".city-type").on("click", function(event){
      $(".city-type").removeClass("active");
      $(".city-categories").hide();
      $(this).addClass("active");
      $(this).next("ul").show();
    });
    $(".others-conditions .toggle").click(function(){
      $(this).hide();
      $(this).siblings().show();
    });
    $(".subject-list li").on("click",function(event){
      if($(this).hasClass("active")){
        $(this).removeClass("active");
      } else {
        $(this).addClass("active");
      }
    });
  });
</script>
