<div class="app-header">
  <nav class="navbar navbar-default custom-header">
    <div class="container-fluid">
      <div class="navbar-header">
      </div>
    </div>
  </nav>
</div>

<div class="register-content content">
  <% @user = User.find(session[:user_id]) %>
  <%= simple_form_for(@user, url: '/users/passwords/email_create', :html=> { class: "register-with-email-form"})  do |f| %>
    <%= f.error_notification %>
    <%= f.input :password, placeholder: '请输入你的密码', label: false %>
    <%= f.button :submit, '完成', class: "btn btn-default full-button"%>
  <% end %>
</div>
